@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, monospace;
}

body {
  background-color: #0B132B;
  color: #5BC0BE;
  padding: 1rem;
}

li {
  list-style-position: inside;
  list-style-type: "\1f984";
  padding: 0.5rem;
}

a {
  color: #5BC0BE;
}

p, .list, .tasks {
  padding: 1rem 0;
}

code, pre {
  font-family: monospace;
  background-color: #0B132B;
  padding: .2rem;
  border-radius: 10px;
}

pre {
  margin: 1rem 0;
  padding: 1rem 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  -webkit-text-stroke: 0.5px;
  -webkit-text-fill-color: transparent;
}

.challenge-description {
  text-align: justify;
}

.week {
  margin: 3rem 0;
}

.days {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
  justify-content: center;
}

.heading {
  font-weight: 900;
  font-size: 2rem;
  color: #6FFFE9;
}

.sub-heading {
  color: #6FFFE9;
  font-weight: 400;
}

.card {
  contain: layout;
  min-height: 7rem;
  width: 300px;
}

.card-content {
  margin: 1rem 1.5rem;
  padding: 2rem 1rem;
  background-color: #1C2541;
  color: #5BC0BE;
  border-radius: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical {
  writing-mode: vertical-lr;
  transform: rotate(-180deg); 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.25px;

  position: absolute;
  bottom: 0;
  color: #6FFFE9;
  letter-spacing: .2rem;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.task {
  background-color: #5BC0BE;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
}

.task:hover {
  background-color: #0B132B;
  color: #6FFFE9;
}

.tasks>a {
  color: #1C2541;
  text-decoration: none;
  font-weight: 900;
}

footer {
  text-align: center;
}

@media (min-width: 640px) {
  body {
    width: 80vw;
    margin: 2rem auto;
  }
}

@media (min-width: 1280px) {
  body {
    width: 80vw;
  }

  .days {
    gap: 4rem 0;
  }
}

@media (min-width: 1536px) {
  body {
    width: 65vw;
  }
}
