.form-elem {
  margin: 0.2rem 0;
}

.user-panel {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.user-elem {
  padding: 0.2rem 0;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#post-card {
  justify-content: start;
}
