input {
  background-color: #5bc0be;
  color: #0b132b;
  border-radius: 10px;
  padding: 1rem;
  border: none;
}

.book-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.actions {
  background-color: #1c2542;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.delete-book {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#id {
  width: 4rem;
}

.library {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: end;
  gap: 2rem 0.2rem;
}

.book {
  position: static;
  border: 1px solid #6fffe9;
  padding: 1rem;
  writing-mode: vertical-rl;
  -webkit-text-fill-color: #6fffe9;
  min-height: 20em;
}
